.bg{
    background-color: rgb(189, 189, 189);
}
.form-select {
    width: 500px;
    height: 37px;
}
header {
    background-color: darkslateblue;
}                


.header-title {
    color: white;
}
footer{
    background-color: darkslateblue;
}